/* CSS Document */
/* Style sheet for LJHPhotography-new index.html */

/*RESET*/
*{
    border: 0;
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    background-color: #d1f3fd;
    justify-content: center;
    padding-bottom: 8%;
    text-align: center;
    width: 100%;
    
}

h1 {
    color: #105781;
    font-family: "Goudy Old Style", serif;
    font-size: 55px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
   
    
}

/*NAVIGTION SIDE PANEL FOR MOBILE*/

.navpanel {
    background-color: #9ecddf;
    height:100%;
    overflow-x: hidden;
    padding-top: 2%;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

.navpanel a {
    color:#105781;
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25%;
    padding: 65px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}

.navpanel a:hover {
    color: #e7f8ff;
  }

.openbtn {
    background-color: #d1f3fd;
    border: none;
    color: #105781;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute; 
    right: 15px; 
    top: 15px;
}

.openbtn:hover {
    background-color: #9ecddf;
  }

  /*NAV BAR FOR DESKTOP*/
  .dtnav {
      width: 100%;
      height: 50px;
      background-color: #9ecddf;
      padding: 5px 0 15px;
      display: flex;
      justify-content: center;
  }
  
  nav ul {
      list-style-type: none;
      display: flex;
      gap: 150px;
      padding: 0;
      margin: 0;
      line-height: 60px;
  }
  
  nav ul li {
      font-size: 30px;
      font-family: "Goudy Old Style", serif;
  }
  
  nav ul li a {
      color: #105781;
      text-decoration: none;
  }
  
  nav ul li a:hover {
      color: #e7f8ff;
  }
  

  /*SLIDESHOW*/

  #slideshow {
    box-sizing:border-box;
    border:5px solid #105781;
    margin: 5%;
  }

  .slideshow-container {
    
    margin:auto;
    max-width: 75%;
    overflow: hidden;
    position: relative;
    padding: 10%;
  }

  .slideimages {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position:absolute;
    width: auto;
    margin-top: -30%;
    padding: 16px;
    color: #105781;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #105781;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #9ecddf;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*MISSION STATEMENT*/

h2 {
    color: #105781;
    font-family: "Goudy Old Style", serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

body {
    color: #48758a;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}


.missionstatement {
    background-color: #d1f3fd;
    border-radius: 30px;
    padding: 10%;
    margin:5%;
    text-align: center;
}

/*SERVICES BUTTON*/

h3 {
  color: #105781;
  background-color: #9ecddf;
  border-radius: 10px;
  font-family: "Goudy Old Style", serif;
  font-size: 35px;
  font-weight: 700;
  padding: 5%;
  text-align: center;
}

h3 a {
  color: #105781;
  text-decoration: none;
}

h3 a:hover {
  color: #e7f8ff;
}

/*TESTIMONIALS*/

.testimonials {
    background-color: #d1f3fd;
    border-radius: 30px;
    padding: 10%;
    margin:5%;
    text-align: center;
}

.stars {
  color: rgb(245, 208, 3);
  font-size: 24px;
}

/*ABOUT*/
#about {
background-color: #d1f3fd;
border-radius: 30px;
justify-content: center;
padding: 10%;
margin:5%;
text-align: center;
}

.aboutimg {
  justify-content: center;
}

/*PORFOLIO NAV*/

#servicesheader {
  line-height: 70px;
}

.galleries-container {
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: center;
    }

    .gallery-cover {
      flex-basis: 25%;
      margin: 5%;
      background-color: #d1f3fd;
      text-align: center;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 1.5s;
    }


a {
  color: #105781;
  text-decoration: none;
  background-color: transparent;
  transition: .5s;
}

a:hover {
  color: #e7f8ff;
  opacity: 1;
}

.gallery-cover:hover {
  background-color: #9ecddf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

/* GALLERY */

.back {
margin: 5%;
font-size: 30px;
}


 .gallery-row {
  display: flex;
  flex-wrap: nowrap;
  margin: 5%; 
  background-color: #b0e4f5;
  padding: 20px;
  border-radius: 10px;
  }

/* Individual gallery items */
 .gallery-column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;

}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
 
}  

/*SERVICES PAGE*/

#services-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap: 40px;
  padding: 20px;
}

#service-heading {
    color: #105781;
    font-family: "Goudy Old Style", serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#fpdoc {
  text-align: center;
  font-size: 25px;
}

.Pricing {
   background-color: #d1f3fd;
    border-radius: 30px;
    padding: 10%;
    margin:5%;
    text-align: center;
}

#pricing-title {
    color: #105781;
    font-family: "Goudy Old Style", serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.pricing-blocks {
  background-color: #d1f3fd;
    border-radius: 30px;
    padding: 5%;
    margin:5%;
    text-align: center;
}

.eximages img {
  border-radius: 30px;
}

.pricing-details {
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  
  
}

/*CONTACT PAGE*/

.session-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

.form-container {
  background-color: #d1f3fd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 65%;
  padding: 40px;
  width: 100%;
  align-items: center;
  height:fit-content;
}


.contactinfo {
  background-color: #d1f3fd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding:40px;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 70%;
}

h4 {
  font-family: "Goudy Old Style", serif;
  font-size: 40px;
}

#faqnavheader {
  font-family: "Goudy Old Style", serif;
  font-size: 35px;
  font-weight: bold;
}

.faqnav {
  text-align: center;
  padding: 5%;
}

.faqnav ul {
  list-style-type: none;
  font-size: 25px;
  line-height: 40px;
}

.faqnav ul a {
  color:#0a3e54;
  text-decoration: none;
}

.faqheader {
  background-color: #9ecddf;
  border-radius: 30px;
  padding: 10%;
  margin:5%;
  text-align: center;
}

.faq {
  background-color: #d1f3fd;
  border-radius: 30px;
  padding: 10%;
  margin:5%;
  text-align: center;
  }

h5 {
  font-family: "Goudy Old Style", serif;
  font-size: 30px;
}


/*SOCIAL LINKS*/

#followme {
    font-size: 25px;
    text-align: center;
    
}

.socials {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

/*FOOTER*/

footer {
    align-items: center;
    background-color: #9ecddf;
    display: flex;
    font-size: 20px;
    height: 60px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

footer ul {
    display: flex;
    font-size: 17px;
    gap: 50px;
    list-style-type: none;
    text-align: center;
}

footer ul li a {
    color: #105781;
    text-decoration: none;
}

footer ul li a:hover {
    color: #e7f8ff;
}

/*MEDIA QUERIES*/


/* MOBILE VIEW*/

@media screen and (max-width: 1080px)  {

  h1 {
    color: #105781;
    font-family: "Goudy Old Style", serif;
    font-size: 75px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
    text-align: center;  
}

  .navpanel {
    background-color: #9ecddf;
    height:100%;
    overflow-x: hidden;
    padding-top: 2%;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

  .navpanel a {
    color:#105781;
    display: block;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
  }

  .openbtn {
    background-color: #d1f3fd;
    border: none;
    color: #105781;
    cursor: pointer;
    font-size: 90px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute; 
    right: 15px; 
    top: 15px;
}

.dtnav {
  display: none;
}

nav ul {
display: none
}

nav ul li {
  display: none;
}

nav ul li a {
  display: none;
}

nav ul li a:hover {
  display: none;
}



  footer {
    align-items: center;
    background-color: #9ecddf;
    display: flex;
    font-size: 18px;
    height: 80px;
    justify-content: center;
    text-align: center;
}

footer ul {
    display: flex;
    font-size: 30px;
    gap: 50px;
    list-style-type: none;
    text-align: center;
}

/*GALLERY*/

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  margin: 5%; 
  background-color: #b0e4f5;
  padding: 20px;
  border-radius: 10px;
  }

.gallery-column {
  flex:100%;
  max-width: 100%;
}

/*CONTACT FORM*/

.form-container {
  background-color: #d1f3fd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 95%;
  padding: 40px;
  width: 100%;
  align-items: center;
  height:fit-content;
}
.contactinfo {
  background-color: #d1f3fd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding:50px;
  margin: 5%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
}

}


/*TABLET VIEW*/
@media screen and (max-width: 1160px) and (min-width:1081px) {

    h1 {
      color: #105781;
      font-family: "Goudy Old Style", serif;
      font-size: 75px;
      font-style: italic;
      font-weight: 400;
      line-height: 70px;
      text-align: center;  
  }

    .navpanel {
      background-color: #9ecddf;
      height:100%;
      overflow-x: hidden;
      padding-top: 2%;
      position: absolute;
      right: 15px;
      top: 15px;
      transition: 0.5s;
      width: 0;
      z-index: 1;
  }

    .navpanel a {
      color:#105781;
      display: block;
      font-size: 45px;
      font-weight: bold;
      padding: 20px 8px 8px 32px;
      text-decoration: none;
      transition: 0.3s;
  }

  .openbtn {
    background-color: #d1f3fd;
    border: none;
    color: #105781;
    cursor: pointer;
    font-size: 100px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute; 
    right: 15px; 
    top: 15px;
}

  .dtnav {
    display: none;
  }
  
  nav ul {
  display: none
  }
  
  nav ul li {
    display: none;
  }
  
  nav ul li a {
    display: none;
  }
  
  nav ul li a:hover {
    display: none;
  }
  

/*GALLERY*/
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  margin: 5%; 
  background-color: #b0e4f5;
  padding: 20px;
  border-radius: 10px;
  }

  .gallery-column {
    flex: 45%;
    max-width: 50%;
  } 

}

/*DESKTOP VIEW*/
@media screen and (min-width: 1161px) {

  .navpanel {
   display: none;
}

.navpanel a {
   display: none;
}

.navpanel a:hover {
    display: none;
  }

.openbtn {
   display: none
}

.openbtn:hover {
    display: none;
  }

/*SLIDESHOW*/
    #slideshow {
      box-sizing:border-box;
      border:5px solid #105781;
      margin-left: 13%;
      margin-right: 13%;
    }

    .slideshow {
      
      margin:auto;
      max-width: 55%;
      position: relative;
      padding: 5%;
    }

    .slideimages {
      display: none;
    }

    .prev, .next {
      cursor: pointer;
      position:absolute;
      width: auto;
      margin-top: -30%;
      padding: 16px;
      color: #105781;
      font-weight: bold;
      font-size: 25px;
      transition: 0.6s ease;
      user-select: none;
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #105781;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #9ecddf;
    }

    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

/*SECTIONS*/
    section {
      margin-left: 10%;
      margin-right: 10%;
    } 
    
    #about{
      margin-left: 20%;
      margin-right: 20%;
    }

    #about p {
      font-size: 25px;
      line-height: 35px;
    }

    .aboutimg {
      min-width: 100%;
    }

/*SERVICES & GALLERY NAV*/


.services {
  background-color: #d1f3fd;
  border-radius: 30px;
  padding: 10%;
  margin:15%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  }

/*GALLERY*/
.gallery-column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

/*FAQ*/

h5 {
  font-family: "Goudy Old Style", serif;
  font-size: 50px;
}

.faqheader {
  background-color: #9ecddf;
  border-radius: 30px;
  padding: 10%;
  margin:15%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}

.faq {
  background-color: #d1f3fd;
  border-radius: 30px;
  padding: 10%;
  margin: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  }

/*FOOTER*/
footer {
  align-items: center;
  background-color: #9ecddf;
  display: flex;
  font-size: 20px;
  height: 60px;
  justify-content: center;
  text-align: center;
}

footer ul {
  display: flex;
  font-size: 25px;
  gap: 250px;
  list-style-type: none;
  text-align: center;
}

}
