@charset "UTF-8";
/* CSS Document */

/* Style sheet for LJHPhotography services.html */

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #48758a;
    font-size: 30px;
	margin: 0;
    padding: 0;
    text-align: center;
}

#banner {
    width: 100%;
    height: 150px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1f3fd;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #9ecddf;
    padding: 5px 0 15px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 150px;
    padding: 0;
    margin: 0;
    line-height: 60px;
}

nav ul li {
    font-size: 30px;
    font-family: "Goudy Old Style", serif;
}

nav ul li a {
    color: #105781;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e7f8ff;
}


h1 {
    font-family: "Goudy Old Style", serif;
    font-weight: 400;
    font-style: italic;
    color: #105781;
    font-size: 55px;
    text-align: center;
    line-height: 10px;
}

h2 {
    font-family: "Goudy Old Style", serif;
    font-weight: 700;
    color: #105781;
    font-size: 55px;
    text-align: center;
    margin: 0;
    line-height: 1.5;
}

h3 {
    font-family: "Goudy Old Style", serif;
    font-weight: 700;
    color: #105781;
    font-size: 55px;
    text-align: center;
    margin: 0;
    line-height: 1.5;
    background-color: #9ecddf;
    text-decoration: none;
}

h3 a:hover {
       color: #e7f8ff;
}

h3 a {
	color: #105781;
	text-decoration:none;
}
